    body {
        margin: 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;


    }

    h1 {
        font-family: 'La Belle Aurore', cursive;
        color: #66bfbf;
        margin: 50px auto 0 auto;
        font-size: 5.625rem;
        line-height: 2;

    }

    h2 {
        font-size: 2.5rem;
        color: #66bfbf;
        font-weight: normal;

    }

    h3 {
        color: #11999E;
    }

    a {
        color: #11999E;
    }

    .top-container {
        background-color: #DAEAF1;
        position: relative;
        padding-top: 100px;
    }

    .skill-row {
        text-align: left;
        margin: 100px auto 100px auto;
        width: 50%;
        line-height: 2;
    }

    .coding-gif {
        position: relative;
        width: 15%;
        float: left;
        margin-right: 30px;
    }

    .softwaresupp-img {
        width: 15%;
        float: right;
        margin-left: 30px;
    }


    .dev {
        text-decoration: underline;

    }


    .top-cloud {
        position: absolute;
        right: 600px;
        top: 50px;


    }

    .bottom-cloud {
        position: absolute;
    }